body{
	font-family: Arial;
	margin: 0;
	padding: 0; 
}
ul{
	position: relative;
	list-style: none;
}
ul:before{
	content: '';
	display: block;
	position: absolute;
	top: 18px;
	height: 4px;
	width: 300px;
	z-index: -1;
	background: #c6c6c6;
}
.step{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: #e2e2e2;
	text-align: center;
	line-height: 40px;
	margin-right: 25px; 
}
.step.completed{
	background: #49fc46;
	color: white;
}
.step.active{
	background: #ac7fef;
	color: white;
}